{% extends "base.html" %}
{% block jumbotron %}
{% endblock %}
{% block content %}
    {% comment %}<div class="row">
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
    </div>{% endcomment %}
    <div class="row">
        <div class="col-md-8 col-sm-6" style="background-color: #398439">.col-md-8
            <div class="row">
                <div class="col-md-6 col-sm-8" style="background-color: #7CA0C7">.col-md-4</div>
                <div class="col-md-6 col-sm-4" style="background-color: #988764">.col-md-4</div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6" style="background-color: #456323">.col-md-4</div>
    </div>
    {% comment %}    <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
    </div>
    <div class="row">
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-6">.col-md-6</div>
    </div>{% endcomment %}
{% endblock %}
